Laboratorio | Estadística inferencial: prueba t y valor p
Instrucciones
Tendremos otro ejemplo simple sobre una prueba t de dos muestras (agrupada, cuando las varianzas son iguales). Pero esta vez se trata de una prueba t unilateral.
En una planta empacadora, una máquina empaca cajas de cartón con frascos. Se supone que una nueva máquina empacará más rápido en promedio que la máquina que se usa actualmente. Para probar esa hipótesis, se registran los tiempos que tarda cada máquina en empacar diez cajas de cartón. Los resultados, en segundos, se muestran en las tablas del archivo files_for_lab/machine.txt. Suponga que hay evidencia suficiente para realizar la prueba t, ¿los datos proporcionan evidencia suficiente para mostrar si una máquina es mejor que la otra?

Un problema adicional (no obligatorio): en este caso no podemos suponer que las varianzas de la población sean iguales. Por lo tanto, en este caso no podemos agrupar las varianzas. Muestras aleatorias independientes de 17 estudiantes de segundo año y 13 de tercer año que asisten a una gran universidad arrojan los siguientes datos sobre promedios de calificaciones. Los datos se proporcionan en el archivo files_for_lab/student_gpa.txt. Con un nivel de significancia del 5 %, ¿los datos proporcionan evidencia suficiente para concluir que los promedios de calificaciones de los estudiantes de segundo y tercer año de la universidad difieren?

Las estadísticas de prueba se pueden calcular como: enlace a la imagen - Cálculo de estadísticas de prueba para el caso de varianza no agrupada

Los grados de libertad son (n1-1)+(n2-1).

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from scipy import stats

In [2]:
df = pd.read_csv(r'C:\Users\marco\OneDrive\Desktop\ironhack\Laboratorios\lab-4444444\machine.txt', sep="\t" ,encoding = 'utf-16')

In [3]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [4]:
df = df.rename(columns={'    Old machine':'Old machine'})

In [5]:
df.dtypes

New machine    float64
Old machine    float64
dtype: object

In [6]:
# Separar los datos en dos series 

new_machine_times = df['New machine'] 
old_machine_times = df['Old machine'] 

# Realizar la prueba t de dos muestras independientes 

t_stat, p_value = stats.ttest_ind(new_machine_times, old_machine_times, alternative='less')

In [7]:
new_machine_times.mean()

42.14

In [8]:
old_machine_times.mean()

43.230000000000004

In [9]:
t_stat

-3.3972307061176026

In [10]:
p_value

0.0016055712503872579

Rechazamos la hipotesis nula.
Confirmamos que la maquina nueva es más rápida

In [11]:
df_estudiantes = pd.read_csv(r'C:\Users\marco\OneDrive\Desktop\ironhack\Laboratorios\lab-4444444\student_gpa.txt', sep="\t" ,encoding = 'utf-8')

In [12]:
df_estudiantes

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [13]:
df_estudiantes = df_estudiantes.rename(columns={'  Juniors':'Juniors'})

In [14]:
df_estudiantes.dtypes

Sophomores    float64
Juniors       float64
dtype: object

In [15]:
# Verificar las columnas del DataFrame
print(df_estudiantes.columns)

# Si la columna 'Juniors' existe, imputamos los valores nulos
if 'Juniors' in df_estudiantes.columns:
    media_junior = df_estudiantes['Juniors'].mean()
    df_estudiantes['Juniors'] = df_estudiantes['Juniors'].fillna(media_junior)
else:
    print("La columna 'Juniors' no existe en el DataFrame.")

Index(['Sophomores', 'Juniors'], dtype='object')

In [16]:
Sophomores = df_estudiantes['Sophomores'] 
Juniors = df_estudiantes['Juniors']

In [17]:
media_sophomores=Sophomores.mean()
media_sophomores

2.84

In [18]:
media_junior=Juniors.mean()
media_junior

2.980769230769231

In [19]:
df_estudiantes

    Sophomores   Juniors
0         3.04  2.560000
1         1.71  2.770000
2         3.30  2.700000
3         2.88  3.000000
4         2.11  2.980000
5         2.60  3.470000
6         2.92  3.260000
7         3.60  3.200000
8         2.28  3.190000
9         2.82  2.650000
10        3.03  3.000000
11        3.13  3.390000
12        2.86  2.580000
13        3.49  2.980769
14        3.11  2.980769
15        2.13  2.980769
16        3.27  2.980769

In [20]:
Sophomores

0     3.04
1     1.71
2     3.30
3     2.88
4     2.11
5     2.60
6     2.92
7     3.60
8     2.28
9     2.82
10    3.03
11    3.13
12    2.86
13    3.49
14    3.11
15    2.13
16    3.27
Name: Sophomores, dtype: float64

In [21]:
Juniors

0     2.560000
1     2.770000
2     2.700000
3     3.000000
4     2.980000
5     3.470000
6     3.260000
7     3.200000
8     3.190000
9     2.650000
10    3.000000
11    3.390000
12    2.580000
13    2.980769
14    2.980769
15    2.980769
16    2.980769
Name: Juniors, dtype: float64

In [22]:
# Realizar la prueba t de dos muestras independientes 

t_stat, p_value = stats.ttest_ind(Sophomores, Juniors)

In [23]:
t_stat

-0.9925381999259013

In [24]:
p_value

0.32838135951754344

No podemos rechazar la hipotesis nula.

In [25]:
# Realizar la prueba t de dos muestras independientes 

t_stat, p_value = stats.ttest_ind(Sophomores, Juniors, alternative='less')

In [26]:
t_stat

-0.9925381999259013

In [27]:
p_value

0.16419067975877172